@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap);

html {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: $lato;

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

/* TYPHOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $montserrat;
}

a {
  font-family: $lato;
  color: $mediumblue;
  transition: color 0.3s ease;
  font-weight: 600;

  &:hover {
    color: lighten(#000, 30%);
    text-decoration: none;
  }
}

h2 {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.9px;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.3px;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

/* CLASSES */
.h-line {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    height: 3px;
    width: 40px;
    margin-right: 10px;
    background: $mediumblue-gradient;
  }
  &::after {
    content: "";
    height: 3px;
    width: 40px;
    margin-left: 10px;
    background: $mediumblue-gradient;
  }
}

.nav-section {
  position: relative;
  padding: 80px 0;

  &#home-header {
    margin-top: 0;
  }
}

.main-btn {
  &:hover {
    background: lighten($gray, 15%);
    border-color: rgba($darkblue, 1);
  }
  display: block;
  width: max-content;
  padding: 15px 35px;
  border-bottom: 3px solid rgba($darkblue, 0.5);
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(#000, 0.5);
  letter-spacing: 1.3px;
  transition: 0.3s all ease;
  @media (max-width: 768px) {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.after-line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 7px;
    left: -15px;
    height: 80px;
    background: $mediumblue-gradient;
  }
}

.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: fade-in 1.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* COOKIE NOTICE */
#cn-notice-text {
  font-family: $lato;
}
#cn-notice-buttons {
  .main-btn {
    padding: 3px 10px !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    letter-spacing: 0.4px !important;
    font-weight: 600 !important;
  }
}
