.banner {
  position: absolute;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  background: none;
  transition: 0.4s all ease;

  .dark-logo {
    display: none;
  }

  &.sticky-banner {
    transition: 0.4s all ease;
    position: fixed;
    border-bottom: 1.5px solid rgba($strongblue, 0.7);
    background: rgba(#fff, 0.7);
    padding: 5px 0;
    max-width: 1920px;
    .white-logo {
      display: none;
    }
    .dark-logo {
      display: block;
    }
    .menu-btn span {
      background: $strongblue;
    }
    .menu-item {
      a {
        color: #000;
        &:hover {
          color: $darkblue;
        }
      }

      &.current_page_item::after,
      &:hover::after {
        background: $darkblue-gradient;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand {
    figure {
      margin-bottom: 0px;
      img {
        width: 90px;
        height: auto;
      }
    }
  }
}

.nav {
  .menu-item {
    margin-right: 25px;
    position: relative;
    display: flex;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-family: "Montserrat", sans-serif;
      transition: color 0.3s ease;
      font-size: 16px;
      letter-spacing: 1.5px;
      text-transform: lowercase;
      color: #fff;
      font-weight: 600;

      &:hover {
        color: #bbb;
        text-decoration: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 0;
      max-width: 0%;
      height: 3px;
      background: #bbb;
      bottom: -5px;
      opacity: 1;
      opacity: 0;
      transition: width 0.5s ease-in-out;
    }
    &.current_page_item::after,
    &:hover::after {
      content: "";
      opacity: 1;
      width: 100%;
      max-width: 40%;
    }
  }
}
.before-nav {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    padding-bottom: 0;

    li {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      &:nth-child(2) {
        border-width: 0 1px;
        border-style: solid;
        border-color: rgba($gray, 0.5);
        padding: 0 15px;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        color: $gray;
        font-size: 12px;
        font-family: $montserrat;
        font-weight: 400;
        letter-spacing: 1.2px;
        z-index: 4;
        border-width: 0 0 0 0;
        border-style: solid;
        border-color: rgba($gray, 0.5);

        i {
          display: block;
          margin-right: 5px;
          font-size: 11px;
          color: $gray;
          height: 100%;
          margin-top: -2px;
        }
      }
    }
  }
  margin-bottom: 20px;
}
.sticky-banner .before-nav {
  display: none;
}
/*.sticky-banner .before-nav {
  position: fixed;
  z-index: 999;
  top: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;

  ul {
    height: 100%;
    border-bottom: 0;
    flex-direction: column;
  }
  li {
    margin-right: 0;
    &:nth-child(2) {
      padding: 0;
      border: none;
      margin-right: 0;
    }
    a {
      justify-content: center;
      &::before {
        display: none;
      }
      span {
        display: none;
      }
      &:hover {
        i {
          color: lighten(#000, 35%);
        }
      }
      i {
        transition: 0.3s ease all;
        display: block !important;
        color: $strongblue;
        font-size: 22px;
        margin-right: 0;
      }
    }
  }
  @media (max-width: 1400px) {
    display: none;
  }
}*/
.menu-btn {
  position: relative;
  display: none;
  flex-direction: column;
  width: 30px;
  span {
    width: 30px;
    height: 3px;
    background: #fff;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 768px) {
  .banner .container {
    flex-wrap: wrap;
  }
  .nav-primary {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 400ms ease-in-out;
    display: flex;
    flex-direction: column-reverse;

    .nav {
      margin-top: 30px;
      flex-direction: column;
      .menu-item {
        justify-content: flex-start;
        padding-top: 10px;
        margin-top: 5px;
        &::after {
          display: none;
        }
        &:last-child {
          padding-bottom: 20px;
        }
      }
    }
    .before-nav {
      margin-top: 30px;
      ul {
        flex-direction: column;
        li {
          &:nth-child(2) {
            padding: 0;
            border: none;
          }
        }
        a {
          &::before {
            display: none;
          }

          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .banner.active {
    background: rgba($strongblue, 0.9);
    transition: 0.4s ease all;
    border-bottom: 1px solid #fff;
    .nav-primary {
      max-height: 1000px !important;
      transition: max-height 400ms ease-in-out;
      margin-top: 0 !important;
    }
  }
  .sticky-banner.active {
    background: rgba(#fff, 0.9);
    border-bottom: 1.5px solid rgba($strongblue, 0.7);
  }
  .menu-btn {
    display: flex;
  }
  .sticky-banner {
    .brand img {
      max-width: 70px;
    }
  }
}
.contact-container {
  position: relative;
  &.sticky-contact {
    ul {
      max-width: 100%;
      transition: max-width 1.5s ease-in-out;
    }
  }
  .abs-container {
    position: absolute;
    width: 100%;
  }

  ul {
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.4s ease-in-out;
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
    background: rgba($strongblue, 0.7);

    @media screen and (max-width: 1920px) {
      right: 0;
    }
  }
  li {
    width: 45px;
    height: 45px;
    a {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease height;
      span {
        display: none;
      }
      &:hover {
        height: 55px;
        background: rgba($strongblue, 0.7);
        i {
          color: $gray;
        }
      }
      i {
        transition: 0.3s ease all;
        color: #fff;
        font-size: 20px;
      }
    }
  }
}
