/* PROJEKTY */
.project-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  position: relative;
  z-index: 1;
  background-size: cover !important;
  background-position: center center !important;
  .overlay {
    background: $strongblue-gradient;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }
  h1 {
    margin-top: 120px;
    text-align: center;
    color: #fff;
    z-index: 3;
    text-transform: uppercase;
    font-weight: 500;
    max-width: 620px;
    font-size: 33px;
    letter-spacing: 2px;
    padding: 0 15px;
  }
  p {
    position: relative;
    z-index: 3;
    color: $gray;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: $montserrat;
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      background: $gray;
      height: 16px;
      top: -25px;
      left: 50%;
      right: 50%;
    }
  }
  @media (max-width: 460px) {
    h1 {
      font-size: 26px;
    }
  }
}

.single-projekt {
  article {
    margin: 100px 0;
    .gallery {
      margin-bottom: 40px;
      max-width: 820px;
      background: rgba($strongblue, 0.05);
      box-shadow: 5px 5px 15px rgba(#000, 0.2);
      padding-top: 10px;
      padding-bottom: 13px;
      .gallery-project {
        margin: auto;
        height: 520px;
        margin-bottom: 10px;
        max-width: 820px;
        .item {
          max-width: 820px;
          width: 100%;
          height: 520px;
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            transition: ease 0.4s all;
            figure {
              position: relative;
              max-width: 820px;
              width: 100%;
              max-height: 510px;
              margin: auto;

              img {
                display: block;
                max-width: 820px;
                max-height: 510px;
                margin: auto;
                width: auto;
                height: auto;
                object-fit: contain;
              }
            }
          }
        }
      }
      #gallery-thumbnails {
        max-width: 820px;
        margin: auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
          margin: 0 15px;
          width: 70px;
          height: 70px;
          background: rgba($strongblue, 0.3);
          transition: 0.4s ease all;
          border-radius: 50%;
          cursor: pointer;
          &.active,
          &:hover {
            background: rgba($strongblue, 0.1);
            img {
              filter: none;
            }
          }
          img {
            object-fit: contain;
            width: 70px;
            height: 70px;
            filter: grayscale(100%);
            padding: 10px;
            transition: 0.4s ease all;
          }
        }
      }
    }
  }
  .first-row {
    display: flex;
  }
  .what-we-do {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 15px;
    h2 {
      font-size: 24px;
      text-align: left;
      font-weight: 600;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        padding-left: 12px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        font-family: $montserrat;
        &::before {
          content: "";
          position: absolute;
          width: 4px;
          height: 20px;
          top: 0;
          left: 0;
          background: $mediumblue-gradient;
        }
      }
    }
  }
  .content {
    margin-top: 20px;
    position: relative;
    h2 {
      text-align: left;
    }
    .main-btn {
      margin-top: 25px;
    }
  }
  @media (max-width: 1200px) {
    .first-row {
      flex-wrap: wrap;
      .what-we-do {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .single-projekt article {
    margin-top: 50px;
    .gallery {
      max-width: 100%;
      .gallery-project {
        height: 520px;
        max-width: 100%;
        .item {
          max-width: 100%;
          height: 520px;
          padding: 20px;
          a {
            max-width: 100%;
            figure {
              max-width: 100%;
              width: 100%;
              max-height: 510px;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .single-projekt article {
    .gallery {
      .gallery-project {
        height: auto;
        .item {
          height: 320px;
          padding: 0 20px 0 0;
          margin: auto;
          a {
            padding: 10px;
            figure {
              max-height: auto;
              img {
                max-height: 300px;
              }
            }
          }
        }
      }
    }
  }
  #gallery-thumbnails li {
    margin: 5px !important;
  }
}
